@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

/*body*/

body {

    margin: 0 auto;
}

.homepage-container {

    width: 100vw;
    height: 100vh;

    font-family: "Quattrocento", serif;
    font-size: 20px;
    font-weight: 400;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 2fr 1fr 2fr 100px;
    
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

}

.homepage-container div {

    padding: 10px;
    border: 1px solid darkolivegreen;
}

.header {

    grid-column-start: 1;
    grid-column-end: 4;

}


/* headings, logo and nav bar styling */

h1 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    color: darkolivegreen;
}

h2 {
    font-family: "Quattrocento Sans", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
    color: darkolivegreen;

}

 /*logo and nav bar */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    color: inherit;
}

#logo, .menu {

    line-height: 75px;
}

.menu a :hover {
    border-bottom: 1px solid darkolivegreen;
}