@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

/*body*/

body {

    margin: 0 auto;

}

.homepage-container {

    width: 100vw;
    height: 100vh;

    font-family: "Quattrocento", serif;
    font-size: 20px;
    font-weight: 400;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr 100px;
    
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

}

.homepage-container div {

    padding: 10px;
    border: 1px solid darkolivegreen;
}

.header {

    grid-column-start: 1;
    grid-column-end: 4;

}

.hero-image-container {
    grid-column-start: 1;
    grid-column-end: 4;

}

.coming-soon-container {
    grid-column-start: 1;
    grid-column-end: 4;
}

.testimonials-container {
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer {

    grid-column-start: 1;
    grid-column-end: 4;
}

/* headings, logo and nav bar styling */

h1 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    color: darkolivegreen;
}

h2 {
    font-family: "Quattrocento Sans", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
    color: darkolivegreen;

}

 /*logo and nav bar */

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    color: inherit;
}

#logo, .menu {

    line-height: 75px;
}

.menu a :hover {
    border-bottom: 1px solid darkolivegreen;
}

/*home page*/

#hero-image {

    height: 600px;
    width: 100%;
    background-color: blanchedalmond;
    background-image: url("../images/pexels-acharaporn-kamornboonyarush-1028704.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
}

#cafe-box {

    box-sizing: border-box;
    height: 200px;
    width: 100%;
    border: double 10px darkolivegreen; 
    background-color: lightgoldenrodyellow;
    font-weight: 400px;
    text-align: center;
    font-size: x-large;
    padding: 30px;
    color: darkolivegreen;

}

.testimonials-container h1 {

    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900px;
    line-height: 1.25;
    text-decoration: underline;
}

.testimonial-box {

    height: 300px;
    width: 30%;
    display: inline-block;
    margin: 20px;
    background-color: rgba(250, 218, 221, 0.3);
    border: solid 4px darkolivegreen;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    overflow: scroll;
}

.testimonial-box h2 {

    padding: 10px;

}


/*footer*/

footer {
    height: 100px; 
    width: 100%;
    background-color: antiquewhite;
    color: darkolivegreen;
    position: fixed;
    left: 0;
    bottom: 0;

}

.social-media-links {

    list-style: none;
    line-height: 20px;
    float: right;
    margin: auto;
    padding-right: 20px;
    padding-top: 20px;
    color: darkolivegreen;

}